@media (max-width: 720px) {
  .events .about {
    width: 80%;
  }

  .events .carousel {
    width: 80vw;
  }

  .events .carousel .content {
    flex-direction: column;
  }

  .events .carousel .content .col_1,
  .events .carousel .content .col_2 {
    width: 100%;
    padding: 8px;
  }

  .events .carousel .content .box_border {
    height: 0;
    width: 100%;
    border: none;
    border-bottom: 0.8px solid saddlebrown;
    margin: 4px;
  }
}