.events {
  background-color: #222;
  color: #fff;
  height: 100vh;
  overflow: auto;
  display: flex;
  margin-bottom: 12px;
  flex-direction: column;
  align-items: center;
}

.events .heading {
  background: radial-gradient(circle, #f6842a, #af7af2);
  -webkit-background-clip: text;
  font-family: "Montserrat", sans-serif;
  background-clip: text;
  color: transparent;
  font-size: 3rem;
}

.events .about,
.events .year_select {
  font-family: "Raleway", sans-serif;
  text-align: center;
  margin-top: 12px;
}

.events .carousel {
  max-width: 40vw;
  margin: ;
  margin-bottom: 12px;
  padding: 1rem;
  position: relative;
  border-radius: 36px;
  background: linear-gradient(180deg, #f9a826, #fcc8d2 100%);
}

.events .carousel .content {
  /* background-color: red; */
  font-family: "Raleway", sans-serif;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 0 8px 0;
}

.events .carousel .content .col_1 {
  object-fit: contain;
  height: auto;
  width: 45%;
}

.events .carousel .content .col_2 {
  /* background-color: green; */
  text-align: center;
}

.events .carousel .register {
  background-color: #f9a826;
  color: #000;
  position: absolute;
  right: 0;
  margin-top: 6px;
}

.evets .carousel .navigation {
  justify-content: center;
  height: 1rem;
}
